---
import metadata from "../../metadata.ts"
const { profile: { bio } } = metadata as Metadata
---
<ul>
  {bio.map(item => {
    return (
      <li>
        <span class="icon">
          <i class={`i-${item.icon}`}></i>
        </span>
        <span>
          <span class="text">{item.text}</span>
          {item.link && <a href={item.link.href} target="_blank">{item.link.text}</a>} 
        </span>
      </li>
    )
  })}
</ul>

<style>
  ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }

  li {
    display: flex;
    flex-direction: row;
    line-height: 1.5;
  }

  .icon {
    width: 25px;
    text-align: center;
  }

  .text {
    margin-left: 8px;
  }
</style>