---
const contact = [
  {
    title: "@cptchloroplast",
    icon: "github",
    href: "https://github.com/cptchloroplast"
  },
  {
    title: "Benjamin Okkema",
    icon: "linkedin",
    href: "https://www.linkedin.com/in/benokkema"
  },
  {
    title: "@cptchloroplast",
    icon: "twitter",
    href: "https://twitter.com/cptchloroplast"
  },
  {
    title: "Benjamin Okkema",
    icon: "strava",
    href: "https://www.strava.com/athletes/8782282"
  },
  {
    title: "cptchloroplast",
    icon: "keybase",
    href: "https://keybase.io/cptchloroplast"
  },
  {
    title: "ben@okkema.org",
    icon: "mail",
    href: "mailto:ben@okkema.org"
  },
  {
    title: "+1-630-670-9876",
    icon: "phone",
    href: "tel:+16306709876"
  },
  {
    title: "AD18B95D04FD76D23EE482A64B62EE4B3E7E7D6B",
    icon: "key",
    href: "keys/public.txt"
  }
] as Contact[]
---
<ul>
  {contact.map(item => {
    return (
      <li>
        <a href={item.href} title={item.title} target="_blank">
          <i class={`i-${item.icon}`}></i>
        </a>
      </li>
    )
  })}
</ul>

<style>
  ul {
    margin: 0;
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
  }

  li {
    font-size: 30px;
    margin-right: 10px;
  }

  a {
    text-decoration: none;
    color: black;
  }

  a:hover, a:active {
    color: darkslategray;
  }
</style>