---
import metadata from "../../metadata.ts"
const { profile: { contact } } = metadata as Metadata
---
<ul>
  {contact.map(item => {
    return (
      <li>
        <a href={item.href} title={item.title} target="_blank">
          <i class={`i-${item.icon}`}></i>
        </a>
      </li>
    )
  })}
</ul>

<style>
  ul {
    margin: 0;
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  li {
    margin-right: 8px;
  }

  i {
    font-size: 30px;
  }

  a {
    text-decoration: none;
    color: black;
  }

  a:hover, a:focus {
    color: dimgray;
  }

  a:active {
    color: darkslategray;
  }
</style>