---
import Card from "../Card.astro"
import Photo from "./Photo.astro"
import Contact from "./Contact.astro"
import Bio from "./Bio.astro"
---
<Card>
  <Photo />
  <hr>
  <h2>Benjamin Okkema</h2>
  <Contact />
  <hr>
  <Bio />
</Card>

<style>
  h2 {
    margin-top: 0;
    margin-bottom: 5px;
  }
</style>