---
import { getCollection } from "astro:content"
import { PostList } from "@components"
import { Card, Subtitle, Title } from "@components/ui"
import { BaseLayout } from "@layouts"
import { sortPosts } from "@utils"

const posts = (await getCollection("posts"))
  .map(x => ({ ...x.data, url: x.slug }))
  .sort(sortPosts)
---
<BaseLayout title="Posts">
  <Card>
    <Title>Table of Contents</Title>
    <Subtitle>The following is not representative of the views of our corporate overlords.</Subtitle>
    <hr>
    <PostList posts={posts}/>
  </Card>
</BaseLayout>
