---
import BaseLayout from "../../layouts/BaseLayout.astro"
import Card from "../../components/Card.astro"

const posts = Astro.fetchContent<Post>("./**/index.md").sort((a,b) => (a.published > b.published) ? 1 : 1)
---
<BaseLayout title="Posts">
  <Card>
    <h1>Table of Contents</h1>
    <h4>Disclaimer: The following content is not representative of the views of our corporate overlords.</h4>
    <ol>
    {posts.map(post => (
      <li>
        <a href={post.url}>
          <span>{post.title}</span>
          <small>{new Date(post.published).toISOString().split("T")[0]}</small>
        </a>
      </li>
    ))}
    </ol>
  </Card>
</BaseLayout>

<style>
  li {
    line-height: 1.5;
  }

  a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: steelblue;
  }

  a:hover {
    color: lightsteelblue;
  }
</style>