---
import BaseLayout from "../../layouts/BaseLayout.astro"
import Card from "../../components/Card.astro"
import Title from "../../components/Title.astro"
import Subtitle from "../../components/Subtitle.astro"
import PostList from "../../components/PostList.astro"
import { sortPosts } from "../../utils/sortPosts.ts"

const posts = (await Astro.glob<Post>("./*.md"))
  .sort(sortPosts)
  .map(x => ({ ...x.frontmatter, content: x.Content, url: x.url }))
---
<BaseLayout title="Posts">
  <Card>
    <Title>Table of Contents</Title>
    <Subtitle>The following is not representative of the views of our corporate overlords.</Subtitle>
    <hr>
    <PostList posts={posts}/>
  </Card>
</BaseLayout>
