---
import BaseLayout from "../../layouts/BaseLayout.astro"
import Card from "../../components/Card.astro"
---
<BaseLayout title="Posts">
  <Card>
    <p>List of posts goes here....</p>
  </Card>
</BaseLayout>