---
import { PublicLayout } from "@layouts"
import { Card, Subtitle, Title } from "@components/ui"
import { GearService } from "@services"

const service = GearService(Astro.locals.runtime.env.DB)
const bikes = await service.list()
---
<PublicLayout title="The Bike Shed">
  <Card>
    <Title>The Bike Shed</Title>
    <Subtitle>🎵 Welcome to the Jungle 🎵</Subtitle>
    <hr>
    <div>
      <ul>
        {bikes.map(({ name, slug }) => (<li>
            <a href={slug}>{name}</a>
          </li>))}
      </ul>
      <iframe height='160' width='300' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/8782282/activity-summary/96d77f0d34aa5f345ff4842d6e495f3a872d610b'></iframe>
    </div>
  </Card>
</PublicLayout>

<style>
  div {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
  }

  ul {
    margin: 0;
    padding-left: 0;
  }

  li {
    list-style: none;
    line-height: 1.5;
  }

  /** mobile */
  @media screen and (max-width: 1000px) {
    div {
      flex-direction: column;
    }
  }
</style>
