---
import { BaseLayout } from "@layouts"
import { Card, Subtitle, Title } from "@components/ui"
import { type Gear, GearSchema } from "@schemas/strava"
export const prerender = false
const bucket = Astro.locals.runtime.env.STRAVA
const promises = await bucket.list({ prefix: "gear" }).then(({ objects }) => objects)
  .then(objects => objects.map(object => bucket.get(object.key)))
const bikes: Gear[] = []
for (const promise of promises) {
  const object = await promise
  if (object) {
    const bike = await object.json<Gear>()
    GearSchema.parse(bike)
    bikes.push(bike)
  }
}
---
<BaseLayout title="The Bike Shed">
  <Card>
    <Title>The Bike Shed</Title>
    <Subtitle>🎵 Welcome to the Jungle 🎵</Subtitle>
    <hr>
    <div>
      <ul>
        {bikes.map((bike) => (<li>
            <a href={bike.name.toLowerCase().replace(/ /g, "-")}>{bike.name}</a>
          </li>))}
      </ul>
      <iframe height='160' width='300' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/8782282/activity-summary/96d77f0d34aa5f345ff4842d6e495f3a872d610b'></iframe>
    </div>
  </Card>
</BaseLayout>

<style>
  div {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
  }

  ul {
    margin: 0;
    padding-left: 0;
  }

  li {
    list-style: none;
    line-height: 1.5;
  }

  /** mobile */
  @media screen and (max-width: 1000px) {
    div {
      flex-direction: column;
    }
  }
</style>
