---
import BaseLayout from "../../layouts/BaseLayout.astro"
import Card from "../../components/Card.astro"
import Title from "../../components/Title.astro"
import Subtitle from "../../components/Subtitle.astro"
import PostList from "../../components/PostList.astro"
import { getCollection } from "astro:content"
import type { Post } from "@schemas"
import { sortPosts } from "../../utils/sortPosts"
export async function getStaticPaths() {
  const posts = (await getCollection("posts"))
    .map(x => ({ ...x.data, url: x.slug }))
  const tags = posts.reduce((result, post) => {
    for (let tag of post.tags.split(",")) {
      if (!result[tag]) result[tag] = []
      result[tag] = [post, ...result[tag]]
    }
    return result
  }, {} as { [key: string]: Post[]})
  return Object.entries(tags).map(entry => {
    const [tag, posts] = entry
    return {
      params: {
        tag,
      },
      props: {
        posts,
      }
    }
  })
}
type Props = {
  posts: Post[]
}
const { tag } = Astro.params
const { posts } = Astro.props
const sorted = posts.sort(sortPosts)
---
<BaseLayout title={`Tags - ${tag}`}>
  <Card>
    <Title>{tag}</Title>
    <Subtitle>Check out some related posts.</Subtitle>
    <hr>
    <PostList posts={sorted} />
  </Card>
</BaseLayout>