---
import BaseLayout from "../../layouts/BaseLayout.astro"
import Card from "../../components/Card.astro"
import Title from "../../components/Title.astro"
import Subtitle from "../../components/Subtitle.astro"
import PostList from "../../components/PostList.astro"

export async function getStaticPaths() {
  const posts = (await Astro.glob<Post>("../posts/*.md"))
    .map(x => ({ ...x.frontmatter, content: x.Content, url: x.url }))
  const tags = posts.reduce((result, post) => {
    for (let tag of post.tags.split(",")) {
      if (!result[tag]) result[tag] = []
      result[tag] = [post, ...result[tag]]
    }
    return result
  }, {})
  return Object.entries(tags).map(entry => {
    const [tag, posts] = entry
    return {
      params: {
        tag,
      },
      props: {
        posts,
      }
    }
  })
}

export interface Props {
  posts: Post[]
}

const { tag } = Astro.params
const { posts } = Astro.props as Props
const sorted = posts.sort((a,b) => (a.published < b.published) ? 1 : -1)
---
<BaseLayout title={`Tags - ${tag}`}>
  <Card>
    <Title>{tag}</Title>
    <Subtitle>Check out some related posts.</Subtitle>
    <hr>
    <PostList posts={sorted} />
  </Card>
</BaseLayout>