---
import BaseLayout from "../../layouts/BaseLayout.astro"
import Card from "../../components/Card.astro"
import Title from "../../components/Title.astro"
import Subtitle from "../../components/Subtitle.astro"
import Tags from "../../components/Tags.astro"
import { getCollection } from "astro:content"
import type { Tag } from "../../schemas"
const posts = (await getCollection("posts"))
  .map(x => ({ ...x.data, slug: x.slug }))
const tags = Object.entries(posts.reduce((result, post) => {
    for (let tag of post.tags.split(",")) {
      if (!result[tag]) result[tag] = 0
      result[tag] += 1
    }
    return result
  }, {} as { [key: string]: number}))
  .map(([tag, count]): Tag => {
    return { 
      name: tag, 
      count: count as number, 
    }
  })
---

<BaseLayout title="Tags">
  <Card>
    <Title>Tags</Title>
    <Subtitle>Click a tag to see related posts.</Subtitle>
    <hr>
    <Tags tags={tags} />
  </Card>
</BaseLayout>