---
import BaseLayout from "../../layouts/BaseLayout.astro"
import Card from "../../components/Card.astro"
import Chip from "../../components/Chip.astro"

const posts = Astro.fetchContent<Post>("../posts/*.md")
const tags = posts.reduce((result, post) => {
  for (let tag of post.tags.split(",")) {
    if (!result[tag]) result[tag] = 0
    result[tag] += 1
  }
  return result
}, {})
---

<BaseLayout title="Tags">
  <Card>
    <h1>Tags</h1>
    <h4>Click a tag to related posts.</h4>
    <hr>
    <ol>
      {Object.entries(tags).map(([tag, count]) => (
        <li>
          <Chip href={`/tags/${tag}`}>
            <span>{tag}: {count}</span>
          </Chip>
        </li>
      ))}
    </ol>
  </Card>
</BaseLayout>

<style>
  ol {
    list-style: none;
    display: flex;
    padding-left: 0;
    gap: 5px;
  }

  h1 {
    margin: 0;
    margin-bottom: 5px;
  }

  h4 {
    margin: 0;
  }
</style>