---
import { getCollection } from "astro:content"
import { Card, Title, Subtitle } from "@components/ui"
import { BaseLayout } from "@layouts"
import { Tags } from "@components"
const posts = (await getCollection("posts"))
  .map(x => ({ ...x.data, url: x.slug }))
const tags = Object.entries(posts.reduce((result, post) => {
    for (let tag of post.tags) {
      if (!result[tag]) result[tag] = 0
      result[tag] += 1
    }
    return result
  }, {} as { [key: string]: number}))
  .map(([tag, count]) => {
    return { 
      name: tag, 
      count: count as number, 
    }
  })
---

<BaseLayout title="Tags">
  <Card>
    <Title>Tags</Title>
    <Subtitle>Click a tag to see related posts.</Subtitle>
    <hr>
    <Tags tags={tags} />
  </Card>
</BaseLayout>