---
import { BaseLayout } from "@layouts"
import { Card, Subtitle, Title } from "@components/ui"
export const prerender = true
---
<BaseLayout title="Page Not Found">
  <Card>
    <Title>Page Not Found</Title>
    <Subtitle>Danger, here be dragons!</Subtitle>
    <hr>
    <div>Please <a href="/contact">contact me</a> if you found a dead link. Otherwise try a link in the navigation above or go <a href="/">home</a>.</div>
  </Card>
</BaseLayout>