---
import BaseLayout from "../layouts/BaseLayout.astro"
import Card from "../components/Card.astro"
export const prerender = true
---
<BaseLayout title="Page Not Found">
  <Card>
    <p>Page Not Found</p>
  </Card>
</BaseLayout>