---
import BaseLayout from "../layouts/BaseLayout.astro"
import Card from "../components/Card.astro"
import Title from "../components/Title.astro"
import Subtitle from "../components/Subtitle.astro"

---
<BaseLayout title="The Bike Shed">
  <Card>
    <Title>The Bike Shed</Title>
    <Subtitle>Welcome to the Jungle</Subtitle>
    <hr>
    <iframe height='160' width='300' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/8782282/activity-summary/96d77f0d34aa5f345ff4842d6e495f3a872d610b'></iframe>
  </Card>
</BaseLayout>
