---
import BaseLayout from "../layouts/BaseLayout.astro"
import Card from "../components/Card.astro"
import ContactForm from "../components/forms/Contact.svelte"
import Title from "../components/Title.astro"
import Subtitle from "../components/Subtitle.astro"
export const prerender = true
---
<BaseLayout title="Contact">
  <Card>
    <Title>Contact me</Title>
    <Subtitle>Leave a message after the beep.</Subtitle>
    <hr>
    <ContactForm client:load />
  </Card>
</BaseLayout>
