---
import { BaseLayout } from "@layouts"
import { Card, ContactForm } from "@components"
import Title from "../components/Title.astro"
import Subtitle from "../components/Subtitle.astro"
---
<BaseLayout title="Contact">
  <Card>
    <Title>Contact me</Title>
    <Subtitle>Leave a message after the beep.</Subtitle>
    <hr>
    <ContactForm client:load />
  </Card>
</BaseLayout>
