---
import { ContactForm } from "@components"
import { Card, Subtitle, Title } from "@components/ui"
import { BaseLayout } from "@layouts"
---
<BaseLayout title="Contact">
  <Card>
    <Title>Contact me</Title>
    <Subtitle>Leave a message after the beep.</Subtitle>
    <hr>
    <ContactForm client:load />
  </Card>
</BaseLayout>
