---
import BaseLayout from "../layouts/BaseLayout.astro"
import Card from "../components/Card.astro"
import Input from "../components/Input.svelte"
---
<BaseLayout title="Index">
  <Card>
    <p>index page</p>
  </Card>
</BaseLayout>
