
.dropdown-button {
	box-sizing: border-box;
	height: 100%;
	border: none;
	font-size: 1rem;
	cursor: pointer;
	display: flex;
	flex-direction: row;
}

.dropdown-button-icon {
	margin-left: 10px;
}

.external-icon {
	margin-left: 10px;
}

.dropdown-content {
	display: none;
	background-color: black;
	flex-direction: column;
	position: absolute;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.dropdown-content.show {
	display: flex !important;
}

.dropdown-content .nav-link.active {
	color: white;
}

.active {
	background-color: lightslategray;
}

@media screen and (max-width: 768px){
	nav, #content, #nav-links {
		flex-direction: column !important;
	}

	#main-content, #sidebar {
		width: unset !important;
	}

	#sidebar {
		margin-top: 0 !important;
		margin-left: 10px !important;
	}

	#nav-button {
		display: unset !important;
	}

	#nav-links {
		display: none !important;
	}

	#nav-links.show {
		display: flex !important;
	}

	#nav-links .dropdown .dropdown-content {
		position: relative !important;
	}

	.dropdown-button.nav-link {
		height: unset !important;
		width: 100%;
	}

	.dropdown-button {
		justify-content: space-between;
	}
}

#nav-logo {
	margin: 5px;
}

nav, #content {
	display: flex;
	flex-direction: row;
}

nav, #footer {
	flex-shrink: 0;
	background-color: black;
	color: white;
}

nav {
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#nav-buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

#nav-links {
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

.dropdown-content {
	background-color: white;
}

.dropdown-content .nav-link {
	color: black;
}

#content {
	flex-grow: 1;
}

#main-content {
	width: 70%;
}

#sidebar {
	width: 30%;
	margin-left: 0;
}

#nav-button {
	display: none;
	cursor: pointer;
	margin: 10px;
}

.dropdown-button.nav-link {
	background-color: black;
}

#contact {
	margin: 0;
	list-style: none;
	padding-left: 0;
	display: flex;
	flex-direction: row;
	margin-bottom: 5px;
}

.contact-item {
	font-size: 30px;
	margin-right: 10px;
}

.contact-link {
	text-decoration: none;
	color: black;
}

.contact-link:hover, .contact-link:active {
	color: darkslategray;
}

.bio-item {
	display: flex;
	flex-direction: row;
	line-height: 1.5;
}

.bio-icon {
	width: 25px;
	text-align: center;
}

.bio-text {
	margin-left: 10px;
}

#picture-frame {
	display: flex;
	align-items: center;
	justify-content: center;
}

#name {
	margin-top: 0;
	margin-bottom: 5px;
}

#bio {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

#subscribe-form-field {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 10px;
}

.form-button {
	background-color: black;
	border: none;
	padding: 10px 20px;
	cursor: pointer; 
	border-radius: 3px;
}

.form-button:hover {
	background-color: darkslategray;
}

.button-icon {
	font-size: 20px;
	color: white;
}

#subscribe-email {
	flex-grow: 2;
	margin-right: 10px;
}

.box-title {
	margin: 0;
	margin-bottom: 5px;
}

.box-subtitle {
	margin: 0;
	font-style: italic;
}

#post-date {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.form-item {
	margin-bottom: 10px;
	display: flex;
}

.form-item textarea, .form-item input {
	flex-grow: 1;
}

textarea, input[type=text], input[type=email] {
	font-size: 0.9rem;
	line-height: 1.5;
	border-radius: 3px;
	border: 1px solid #ccc;
	padding: 10px;
	font-family: sans-serif;
}

#footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 10px;
}

.post-item {
	list-style: none;
	margin-bottom: 5px;
	line-height: 1.5;
}

.post-link {
	display: flex;
	justify-content: space-between;
}

#table-of-contents {
	padding-left: 0;
	margin-bottom: 0;
}

#picture-frame img {
	border-radius: 2px;
	width: 100%;
}

#post-body {
	line-height: 1.5;
}

#post-body a,
.bio-text a,
#build a,
.post-link {
	color: steelblue;
}

#post-body a:hover,
.bio-text a:hover,
#build a:hover,
.post-link:hover {
	color: lightsteelblue;
}

#post-body p:last-child {
	margin-bottom: 0;
}

.post-item:last-child {
	margin-bottom: 0;
}

