---
export interface Props {
  href: string
}

const { href } = Astro.props as Props
---

<a href={href}>
  <slot />
</a>

<style>
  a {
    color: white;
    background-color: black;
    padding: 8px;
    border-radius: 35px;
    cursor: pointer;
    text-decoration: none;
  }

  a:hover, a:focus {
    color: white;
    background-color: dimgray;
  }

  a:active {
    color: white;
    background-color: darkslategray;
  }

  a:visited {
    color: white;
  }
</style>