---
import Title from "../components/Title.astro"
import Subtitle from "../components/Subtitle.astro"
import Tags from "../components/Tags.astro"
import { formatDate } from "../utils/formatDate.ts"
import type { Post, Tag } from "@schemas"
type Props = {
  post: Post
}

const { post: { title, published, updated, tags } } = Astro.props as Props
---
<article>
  <Title>{title}</Title>
  <Subtitle>
    {updated && <span>Updated: {formatDate(updated)}</span>}
    <span>Published: {formatDate(published)}</span>
  </Subtitle>
  <hr>
  <div id="markdown">
    <slot />
  </div>
  <hr>
  <Tags tags={tags.split(",").map((tag): Tag => ({ name: tag }))} />
</article>

<style is:global>
  #markdown {
    line-height: 1.5;
  }
  
  #markdown :first-child{
    margin-top: 0;
  }

  #markdown :last-child {
    margin-bottom: 0;
  }

  #markdown pre {
    padding: 8px;
  }
</style>