---
import type { Post } from "../schemas"
import { formatDate } from "../utils/formatDate.ts"
type Props = {
  posts: Post[]
}
const { posts } = Astro.props
---

<ol>
{posts.map(post => (
  <li>
    <a href={`/posts/${post.slug}`}>
      <span>{post.title}</span>
      <small>{post.updated ? `Updated: ${formatDate(post.updated)}` : formatDate(post.published)}</small>
    </a>
  </li>
))}
</ol>

<style>
  ol {
    margin: 0;
    padding-left: 0;
  }

  li {
    list-style: none;
    line-height: 1.5;
  }

  a {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>