---
import Chip from "../components/Chip.astro"
import Title from "../components/Title.astro"
import Subtitle from "../components/Subtitle.astro"
import Tags from "../components/Tags.astro"

export interface Props {
  post: FetchContentResult<Post>
}

const { post: { title, published, updated, tags, astro: { html } } } = Astro.props as Props
---
<article>
  <Title>{title}</Title>
  <Subtitle>
    <span>Published: {new Date(published).toISOString().split("T")[0]}</span>
    {updated && <span>Updated: {new Date(updated).toISOString().split("T")[0]}</span>}
  </Subtitle>
  <hr>
  <div id="markdown">{html}</div>
  <hr>
  <Tags tags={tags.split(",").map((tag): Tag => ({ name: tag }))} />
</article>

<style global>
  #markdown {
    line-height: 1.5;
  }
  
  #markdown p:first-of-type {
    margin-top: 0;
  }

  #markdown p:last-of-type {
    margin-bottom: 0;
  }
</style>