---
import Input from "./forms/Input.svelte"
import Button from "./forms/Button.svelte"
import Form from "./forms/Form.svelte"
import Subtitle from "./Subtitle.astro"
---

<Subtitle>Subscribe for the latest and greatest!</Subtitle>
<Form
  action="subscribe"
  method="POST"
  client:load 
>
  <div>
    <Input 
      name="email"
      placeholder="me@domain.tld"
      type="email"
      required
    />
    <Button>
      <i class="i-send" />
    </Button>
  </div>
</Form>

<style>
  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  i {
    color: white;
    font-size: 30px;
  }
</style>