---
import Chip from "../components/Chip.astro"
import type { Tag } from "../schemas/Tag"
type Props = {
  tags: Tag[]
}
const { tags } = Astro.props
---

<ol>
  {tags.map(tag => {
    const { name, count } = tag
    return (
      <li>
        <Chip href={`/tags/${name}`} title={`Tags - ${name}`}>
          <span>
            <span>{name}</span>
            {count && <span>: {count}</span>}
          </span>
        </Chip>
      </li>
    )
  })}
</ol>

<style>
  ol {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    column-gap: 8px;
    row-gap: 24px;
    margin-bottom: 8px;
  }
</style>