---
import Chip from "../components/Chip.astro"

export interface Props {
  tags: Tag[]
}

const { tags } = Astro.props as Props
---

<ol>
  {tags.map(tag => {
    const { name, count } = tag
    return (
      <li>
        <Chip href={`/tags/${name}`} title={`Tags - ${name}`}>
          <span>
            <span>{name}</span>
            {count && <span>: {count}</span>}
          </span>
        </Chip>
      </li>
    )
  })}
</ol>

<style>
  ol {
    list-style: none;
    display: flex;
    padding-left: 0;
    gap: 8px;
  }
</style>