---
import Header from "../components/navigation/Header.astro"
import Footer from "../components/Footer.astro"
import Toast from "../components/Toast.svelte"
import Profile from "../components/profile/Profile.astro"

export interface Props {
  title: string
}

const {title} = Astro.props
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{title} - ben.okkema.org</title>
		<link rel="stylesheet" href="css/icons.css">
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <aside>
      <Profile />
    </aside>
    <Toast client:load />
    <Footer />
	</body>
</html>

<style>
  html, body {
    height: 100%;
  }

  body {
    background-color: lightgray;
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  main {
    flex-grow: 1;
  }
</style>