---
import Header from "../components/navigation/Header.svelte"
import Footer from "../components/Footer.astro"
import Toast from "../components/Toast.svelte"
import Card from "../components/Card.astro"
import Photo from "../components/profile/Photo.astro"
import Contact from "../components/profile/Contact.astro"
import Bio from "../components/profile/Bio.astro"
import Title from "../components/Title.astro"

export interface Props {
  title: string
}

const {title} = Astro.props
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="I'll fix your bike for beer.">
    <meta name="author" content="Benjamin Okkema <ben@okkema.org>">
    <title>{title} - ben.okkema.org</title>
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href={Astro.resolve("../css/icons.css")}>
    <meta property="og:title" content="Ben Okkema's Homepage">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://ben.okkema.org">
    <meta property="og:description" content="I'll fix your bike for beer.">
    <meta property="og:image" content="https://ben.okkema.org/me.webp">
  </head>
  <body>
    <Header
      client:load 
      logo={Astro.resolve("../img/logo.png")}
    />
    <div>
      <main>
        <slot />
      </main>
      <aside>   
        <Card>
          <Photo />
          <hr>
          <Title>Benjamin Okkema</Title>
          <Bio />
          <hr>
          <Contact />
        </Card>
      </aside>
    </div>
    <Footer />
    <Toast client:load />
	</body>
</html>

<style global>
  a {
    color: steelblue;
  }

  a:hover {
    color: lightsteelblue;
  }
</style>

<style>
  html, body {
    height: 100%;
  }

  body {
    background-color: lightgray;
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  main {
    width: 70%;
  }

  aside {
    width: 30%;
  }

  div {
    display: flex;
    flex-direction: row;
    margin: 10px;
    gap: 10px;
    flex-grow: 1;
  }

  @media screen and (max-width: 1000px) {
    div {
      flex-direction: column;
    }
    
    main, aside {
      width: unset;
    }
  }
</style>