---
import PostLayout from "./PostLayout.astro"
import type { Post } from "@schemas"
type Props = {
  post: Post
}

const { post } = Astro.props as Props
---
<PostLayout post={post}>
  <div>
    <slot />
  </div>
</PostLayout>

<style is:global>
  #markdown > div > p {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #markdown > div > p > img {
    border-radius: 2px;
    width: 100%;
  }
</style>