---
import PostLayout from "./PostLayout.astro";

export interface Props {
  content: Post
}

const { content } = Astro.props as Props
---
<PostLayout content={content}>
  <div>
    <slot />
  </div>
</PostLayout>

<style is:global>
  #markdown > div > p {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #markdown > div > p > img {
    border-radius: 2px;
    width: 100%;
  }
</style>