---
import BaseLayout from "./BaseLayout.astro"
import Card from "../components/Card.astro"

export interface Props {
  content: Post
}

const { content: { title, published } } = Astro.props as Props
---
<BaseLayout title={title}>
  <Card>
    <h1>{title}</h1>
    <h4>Published: {new Date(published).toISOString().split("T")[0]}</h4>
    <slot />
  </Card>
</BaseLayout>