---
import { Card, Subtitle, Title } from "@components/ui"
import { MetadataForm, BucketForm } from "@components"
import { AdminLayout } from "@layouts"
const metadata = Astro.locals.metadata
---
<AdminLayout title="Settings">
    <Fragment slot="default">
        <Card>
            <Title>Buckets</Title>
            <Subtitle>Sync data from bucket to database</Subtitle>
            <hr />
            <BucketForm client:only />
        </Card>
        <Card>
            <Title>Metadata</Title>
            <Subtitle>Update metadata used throughout the site.</Subtitle>
            <hr />
            <MetadataForm metadata={metadata} client:only />
        </Card>
    </Fragment>
</AdminLayout>