<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="author" content="Benjamin Okkema">
		<meta name="description" content="Ben Okkema's blog">
		<meta name="csrf-token" content="{{ csrf_token() }}">
		<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/icons.css') }}">
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
		<title>{% block title %}{% endblock %} - ben.okkema.org</title>
		<script>
			let subscribe = () => {
				document.getElementById('subscribe-form').addEventListener('submit', submitForm);
			}
			documentReady(subscribe);
		</script>
        {% block head %}{% endblock %}
    </head>
    <body>
		<nav>
			<div id="nav-buttons">
				<a href="{{ url_for('root.home') }}">
					<img id="nav-logo" src="{{ url_for('static', filename='img/logo.png') }}">
				</a>
				<i id="nav-button" class="i-menu" onclick="toggleDropdown('nav-links')"></i>
			</div>
			<div id="nav-links">
				<a class="nav-link {% if request.path.startswith('/blog/') %}active{% endif %}" href="{{ url_for('root.table_of_contents') }}">Blog</a>
				<div class="dropdown">
					<button class="dropdown-button nav-link" onclick="toggleDropdown('projects')">
						<span class="dropdown-button-text">Projects</span>
						<i class="dropdown-button-icon i-dropdown"></i>
					</button>
					<div id="projects" class="dropdown-content">
						{% if data['projects'] %}
							{% for project in data['projects'] %}
							<a class="nav-link project" href="{{ project['url'] }}">
								<span class="project-name">{{ project['name'] }}</span>
								<i class="project-icon i-dropdown"></i>
							</a>
							{% endfor %}
						{% else %}
							<div class="nav-link">Coming soon!</div>
						{% endif %}
					</div>
				</div>
				<a class="nav-link {% if request.path == '/contact/' %}active{% endif %}" href="{{ url_for('root.contact') }}">Contact</a>
			</div>
		</nav>
		<div id="content">
			<div class="box" id="main-content">{% block body %}{% endblock %}</div>
			<div class="box" id="sidebar">
				<div id="picture-frame">
					<img src="{{ url_for('static', filename='img/me.jpg') }}">
				</div>
				<hr>
				<h2 id="name">Benjamin Okkema</h2>
				<ul id="contact">
					{% for contact in data['contact'] %}
					<li class="contact-item">
						<a class="contact-link" href="{{ contact['url'] }}" title="{{ contact['text'] }}">
							<i class="contact-icon {{ contact['icon'] }}"></i>
						</a>
					</li>
					{% endfor %}
				</ul>
				<hr>
				<ul id="bio">
					{% for bio in data['bio'] %}
					<li class="bio-item">
						<span class="bio-icon">
							<i class="{{ bio['icon'] }}"></i>
						</span>
						<span class="bio-text">{{ bio['text'] | safe }}</span>
					</li>
					{% endfor %}
				</ul>
				<hr>
				<form id="subscribe-form" method="POST" action="{{ url_for('root.subscribe') }}">
					{{ subscribe.email.label }}
					<div id="subscribe-form-field">
						{{ subscribe.email }}
						<button type="submit" class="form-button" title="Subscribe">
							<i class="i-send button-icon"></i>
						</button>
					</div>
				</form>
			</div>
		</div>
		<div id="footer">&copy; 2020 by Benjamin Okkema</div>
		<div id="toast">
			<i id="toast-icon"></i>
			<span id="toast-text"></span>
		</div>
	</body>
</html>