{% extends "_base.html" %}

{% block title %}Contact{% endblock %}

{% block head %}
<script>
    let send = () => {
        document.getElementById('contact-form').addEventListener('submit', submitForm);
    }
    documentReady(send);
</script>
{% endblock %}

{% block body %}
<form id="contact-form" method="POST" action="{{ url_for('root.send') }}">
    <div class="form-item">Leave a message and I'll get back to you as soon as I can!</div>
    <div class="form-item">
        {{ contact.sender }}
    </div>
    <div class="form-item">
        {{ contact.body }}
    </div>
    <div class="form-item">
        {{ contact.captcha }}
    </div>
    <button type="submit" class="form-button" title="Send">
        <i class="i-send button-icon"></i>
    </button>
</form>
{% endblock %}
