{% extends "_base.html" %}

{% block title %}
{% if request.path == '/' %}
	Home
{% else %}
	{{ post.title }}
{% endif %}
{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
<article>
	<header>
		<h2 id="post-title" class="box-title">{{ post.title }}</h2>
		<h5 id="post-date" class="box-subtitle">
			<time>{{ post.published_long }}</time>
			{% if post.updated %}
			<time>Updated: {{ post.updated_long }}</time>
			{% endif %}
		</h5>
	</header>
	<hr>
	<section id="post-body">{{ post.body | safe }}</section>
</article>
{% endblock %}
