{% extends "_base.html" %}

{% block title %}Table of Contents{% endblock %}

{% block head %}{% endblock %}

{% block body %}
<h2 class="box-title">Table of Contents</h2>
<h5 class="box-subtitle">Disclaimer: The following content is not representative of the views of our corporate overlords.</h5>
<hr>
<ol id="table-of-contents">
	{% for post in posts %}
	<li class="post-item">
		<a class="post-link" href="{{ post.url() }}">
			<span>{{ post.title }}</span>
			<small>{{ post.published_short }}</small>
		</a>
	</li>
	{% endfor %}
</ol>
{% endblock %}
